.DS_Store
node_modules/
screenshots/
results/
reports/
.prettiercache
launch.json/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.prettiercache
*.log
mochawesome-report/
mochawesome.json
launch.json
mochawesome.json
e2e.js
.vscode